body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

canvas {
    background-color: #000;
    border: 1px solid #333;
}

p {
    font-size: 24px;
    color: #333;
}
